<% if logged_in? %>
  <div class="row">
    <aside class="col-sm-5">
      <%= form_with(model: @note) do |f| %>
      <%= render 'layouts/error_messages', model: f.object %>
        <div class="mb-3">
            <%= f.radio_button :subject_id, '1' %>
            <%= f.label :subject_id, "学校", {value: '1', style: "display: inline-block;"} %>
            <%= f.radio_button :subject_id, '2' %>
            <%= f.label :subject_id, "部活", {value: '2', style: "display: inline-block;"} %>
            <%= f.radio_button :subject_id, '3' %>
            <%= f.label :subject_id, "宿題", {value: '3', style: "display: inline-block;"} %>
            <%= f.radio_button :subject_id, '4' %>
            <%= f.label :subject_id, "習い事", {value: '4', style: "display: inline-block;"} %>
            <%= f.radio_button :subject_id, '5' %>
            <%= f.label :subject_id, "仕事", {value: '5', style: "display: inline-block;"} %>
            <%= f.radio_button :subject_id, '6' %>
            <%= f.label :subject_id, "健康", {value: '6', style: "display: inline-block;"} %>
        </div>

        <div class="mb-3">
            <%= f.radio_button :status, '絶好調' %>
            <%= f.label :status, "絶好調", {value: '絶好調', style: "display: inline-block;"} %>
            <%= f.radio_button :status, 'まーまー' %>
            <%= f.label :status, "まーまー", {value: 'まーまー', style: "display: inline-block;"} %>
            <%= f.radio_button :status, '普通' %>
            <%= f.label :status, "普通", {value: '普通', style: "display: inline-block;"} %>
            <%= f.radio_button :status, '良くない' %>
            <%= f.label :status, "良くない", {value: '良くない', style: "display: inline-block;"} %>
            <%= f.radio_button :status, '調子が悪い' %>
            <%= f.label :status, "調子が悪い", {value: '調子が悪い', style: "display: inline-block;"} %>
        </div>

        <div class="mb-3">
          <%= f.label :note %>
          <%= f.text_area :note, class: 'form-control', rows: 3,maxlength: "255" %>
        </div>
        <div>
        <%= f.submit '投稿', class: 'btn btn-primary w-100' %>
        </div>
        <br>
        <div>
        <%= link_to '戻る', user_path(current_user.id), class: 'btn btn-lg btn-primary' %>
        </div>
      <% end %>
    </aside>
  </div>
<% else %>
  <div class="bg-secondary p-3 p-sm-5 my-4 rounded">
    <div class="text-center text-white">
      <h1>Welcome to the FamilyCom</h1>
      <%= link_to 'サインアップ', signup_path, class: 'btn btn-lg btn-primary' %>
    </div>
  </div>
<% end %>
