<div class="row">
  <aside class="col-sm-4">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">サブジェクト</h4>
        <div class="card-body">
          <h2><%= @note.subject.name %></h2>
        </div>
      </div>

      <div class="card-header">
        <h4 class="card-title">ユーザ</h4>
        <div class="card-body">
          <h2><%= @note.user.name %></h2>
        </div>
      </div>

      <div class="card-header">
        <h4 class="card-title">ステイタス</h4>
        <div class="card-body">
          <h2><%= @note.status %></h2>
        </div>
      </div>
      
      <div class="card-header">
        <h4 class="card-title">ノート</h4>
        <div class="card-body">
          <h3><%= @note.note %></h3>
        </div>
      </div>

    </div>
  </aside>
</div>

<ul>
  <% @comments.each do |comment| %>
    <li><%= comment.comment %>&gt;:<%= comment.created_at %>:by::<%= comment.user.name %></li>
  <% end %>
</ul>
<%== pagy_nav(@pagy) %>

  <div class="row">
    <aside class="col-sm-4">
      <%#= form_with model: @comment,url: user_note_comments_path do |f| %>
      <%= form_with model: @comment do |f| %>
        <div class="mb-3">
          <%= f.text_area :comment, class: 'form-control', rows: 5 %>
        </div>
        <%= f.submit 'コメントを追加する', class: 'btn btn-primary w-100' %>
      <% end %>
    </aside>
  </div>  
