<div class="row">
  <aside class="col-sm-4">
    <div class="card">
      <div class="card-header">
        <%# @note.each do |note| %>
        <%# Noteの表示 %> 
        <h3 class="card-title">サブジェクト<%= @note.subject_id %></h3>
      </div>

      <div class="card-header">
        <h3 class="card-title">ユーザ<%= @note.user_id %></h3>
      </div>

      <div class="card-header">
        <h3 class="card-title">ステイタス<%= @note.status %></h3>
      </div>
      <div class="card-header">
        <h3 class="card-title">ノート<%= @note.note %></h3>
      </div>
    <%# end %>

      <div>
      <%# = button_to 'コメントを追加', {controller: 'comment', action: 'new'}, {method: :get }%>
      </div>
    </div>
  </aside>
</div>
<ul>
  
  <% @comments.each do |comment| %>
    <li><%#= link_to comment.id, comment %> : <%= comment.comment %>:<%= comment.created_at %>:by<%= comment.user_id %></li>
  <% end %>
</ul>
<%== pagy_nav(@pagy) %>

<%# = link_to '新規メッセージの投稿', new_comment_path %>