<%= @family.name %>さん　家族のページ
<div class="row">
  <aside class="col-sm-4">
    <div class="card">
      <ul>
        <% @users.each do |user| %>
        <li><%= link_to user.name, user_path(user.id) %> : &gt;<%= user.email %></li>
        <% end %>
      </ul>
    <%== pagy_nav(@pagy) %>
      
      <div>
      <%= button_to '家族を追加', {controller: 'families', action: 'new'}, {method: :get }%>
      </div>
    </div>
  </aside>
</div>
