<div class="row">
  <aside class="col-sm-4">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title"><%= @family.name %></h3>
      </div>
      <div class="card-header">
        <h3 class="card-title">家族のメンバーを表示</h3>
      </div>
    </div>
  </aside>
</div>

    <%= form_with model: @user,url: families_path do |f| %>
      <%= render 'layouts/error_messages', model: f.object %>
      <div class="mb-3">
        <%= f.label :name, 'Name' %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>

      <div class="mb-3">
        <%= f.label :email, 'Email' %>
        <%= f.email_field :email, class: 'form-control' %>
      </div>

      <div class="mb-3">
        <%= f.label :password, 'Password' %>
        <%= f.password_field :password, class: 'form-control' %>
      </div>

      <div class="mb-3">
        <%= f.label :password_confirmation, 'Confirmation' %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
      </div>
  
      <%= f.submit 'Add family', class: 'btn btn-primary w-100' %>
    <% end %>

　<%= # button_to '家族を追加', {controller: 'families', action: 'new'}, {method: :get }%>