<div class="row">
  <aside class="col-sm-4">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title"><%= @family.name %></h3>
      </div>
      <div class="card-header">
        <h3 class="card-title">家族のメンバーを表示</h3>
      </div>
    </div>
  </aside>
</div>

<%= # link_to “Yahooへ移動する”, “http://www.yahoo.co.jp/” %>


<%= # button_to '家族を追加', {controller: 'families', action: 'new'}, {method: :get }%>

<%= # link_to "家族を追加", new_family_path(@family) %>
<%= # <a href="/profiles/1">Profile</a> %>