最近の出来事
<%= link_to '新規ノートを投稿する', new_note_path %>
<ul>
  <% @notes.each do |note| %>
    <%# @user.id = note.user.id %>
    <li><%= link_to note.id, note_path(note.id) %> :<%= note.subject.name %>:<%= note.status %>:<%= note.note %>&gt;:<%= note.created_at %>:by::<%= note.user.name %></li>
  <% end %>
</ul>
<%== pagy_nav(@pagy) %>
